---
title: My Site
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body style="font-family:Arial, Helvetica, sans-serif">
    {{ content }}
  </body>
</html>